.chat {
  max-width: 700px;
  overflow-y: auto;
  padding: 8rem;
}

.chat::-webkit-scrollbar {
  background-color: rgb(105, 103, 103);
  width: 5px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 37);
}

.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.aiDiv {
  text-align: left;
  font-size: 0.9rem;
}

.userMsg {
  background-color: #323232;
  margin-left: 15rem;
  border-radius: 14px;
  padding: 10px 20px;
  max-width: 500px;
  width: fit-content;
}

.assistantMsg {
  /* font-size: 0.8rem; */
}
