.Sidebar {
  background-color: #171717;
  color: white;
  height: 100vh;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-block: 25px;
  margin: 10px;
  border-radius: 5px;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  height: 50px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(217, 215, 215, 0.08);
}

.logo {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  border: solid white 1px;
}

.logoClass {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  padding-block: 25px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 15px;
  height: 5px;
  cursor: pointer;
  gap: 1.3rem;
  border-left: 1.3rem;
}

.upperSection {
  display: flex;
  flex-direction: column;
}

.history {
  margin: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.history::-webkit-scrollbar {
  background-color: rgb(105, 103, 103);
  width: 5px;
}

.history::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 37);
}

.history li {
  list-style-type: none;
  border: 10px solid transparent;
  cursor: pointer;
  padding: 2px 5px;
  font-size: 14px;
  margin-bottom: 0.5rem;
  position: relative;
}

.history li:hover {
  background-color: rgba(217, 215, 215, 0.08);
  border-radius: 10px;
}

button span {
  font-size: 20px;
}

.sign {
  margin: 10px;
  padding: 10px;
  border-top: solid 0.25px rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-align: center;
}

.fa-trash-can {
  opacity: 0;
  right: 0;
  position: absolute;
  color: white;
}

.history li:hover .fa-trash-can {
  opacity: 1;
}

.fa-trash-can:hover {
  color: red !important;
}
